<!-- <!DOCTYPE html> -->
<!-- <html>
	<head>
		<title>Ansara's Blog!!!</title>
	</head>
	<body>
		<h1>Ansara's Blog</h1>
		<p>Hi there!!!</p>
		<p>It works!!!</p>
		<ul>
			<li>first item</li>
			<li>second item</li>
			<li>third item</li>
			<li>fourth item</li>
		</ul>
	</body>
</html> -->

<!-- <html>
	<p>Hi there!!!</p>
	<p>It works!!!</p>
</html> -->

<html>
    <head>
        <title>Ansara's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ansara's Blog</a></h1>
        </div>

        <div>
        	{% for post in posts %}
        		<div>
					<h2><a href="">{{post.title}}</a></h2>
        			<p>published: {{post.published_date}}</p>
					<p>{{post.text|linebreaksbr}}</p>
        		</div>
        	{% endfor %}  
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>My second para</p>
        </div>
    </body>
</html>